* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.product-page-header {
  box-sizing: border-box;
  line-height: 0;
  border-bottom: 1px solid #c6c6c6;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.product-title {
  font-family: 'Lora', serif;
	font-size: 1.25rem;
  line-height: 1.2;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin: 0;

  color: #171717
}

.product-photo-container {
  display: flex;
  overflow: scroll;
}

.product-pricetag-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
}

.product-price {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.19;
  text-transform: none;

  color: #171717
}

.product-article {
  font-size: .75rem;
  line-height: 1rem;
  /*.875rem;*/
}

.product-color-title {
  font-size: .75rem;
  margin-left: 1rem;
  line-height: 1rem;
}

.product-color-container {
  padding-top: 1rem;
  padding-bottom: 2rem;

  margin-left: 1rem;
  margin-right: 1rem;

  line-height: 0;
  border-bottom: solid 1px #c6c6c6;
}

.color-selector-black {
  margin-right: 0.75rem;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #232122;
}

.color-selector-honey {
  margin-right: 0.75rem;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #cfa880;
}

.color-active-selection {
  box-shadow: inset 0 0 0 1px #000;
}

.product-navigation-container {
  padding-top: 2rem;
  padding-bottom: 3rem;

  line-height: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button-product-size-select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;

  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: .75rem;
  line-height: 1.33;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  border: solid 1px #171717;

  background-color: #171717;
  box-shadow: none;
}

.button-product-search {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;

  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: .75rem;
  line-height: 1.33;
  color: #171717;
  text-align: center;
  border-radius: 2px;
  border: solid 1px #999;

  background-color: #fff;
}

.button-product-size-help {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: .75rem;
  line-height: 1.33;
  color: #171717;
  text-align: center;
  background-color: #fff;
}

.about-product-container {
  border-top: solid 1px #c6c6c6;
}

.about-product-description {
  display: flex;
  justify-content: space-between;

  margin-left: 1rem;
  margin-right: 1rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-product-text {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 19px;
	color: #171717;
}

.about-product-description-expanded {
  padding-left: 1rem;
  padding-right: 1rem;

  padding-bottom: 2rem;

  font-family: 'Lora', serif;
	font-size: .875rem;
	line-height: 1.5rem;
	color: #171717;
  border-bottom: solid 1px #c6c6c6;
}

.about-product-shipping {
  display: flex;
  justify-content: space-between;

  padding-left: 1rem;
  padding-right: 1rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  border-bottom: solid 1px #c6c6c6;
}

.recommendations-container {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.recommendations-title {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 19px;

	color: #171717;

  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171717;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendations-item {
  flex-basis: 8rem;

  margin-top: 1.5rem;
  margin-bottom: .5rem;

  font-size: 0;
  text-decoration: none;

  color: #111111;
}

.recommended-item-photo {
}

.recommended-item-name {
  margin-top: .5rem;
  font-family: 'Lora', serif;
	font-size: 1rem;
	line-height: 1.19;
	color: #171717;
}

.recommended-item-price {
  margin-top: .5rem;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: .75rem;
  line-height: .875rem;
  color: #999;
}

.additional-goods-container {
  display: block;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.additional-goods-title {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 19px;

	color: #171717;

  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171717;

  margin-bottom: 1.5rem;
}

.additional-goods-item {
  display: block;
  font-family: 'Lora', serif;
	font-size: .875rem;
  line-height: 17px;
	font-style: italic;
	color: #171717;
  margin-bottom: 1rem;
}

.container-product-page-footer-info {
  background-color: #f3f3f3;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.footer-container {
  display: block;
  background-color: #f3f3f3;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.localization-container {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: .75rem;
  font-weight: 400;
  text-decoration: none;
	color: #999;
  background-color: inherit;
  margin-bottom: 1rem;
}

.localization-lang,
.localization-country {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: .75rem;
  font-weight: 400;
  text-decoration: none;
	color: #999;
  background-color: inherit;

  margin-bottom: 1rem;
}

.contact-info-container {
  text-align: center;
}

.contact-for-help {
  margin: 0 auto;
  margin-bottom: 1rem;

  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1rem;
  line-height: 19px;
	font-weight: 700;
	color: #171717;
}

.contact-info {
  font-family: 'Lora', serif;
	font-size: .875rem;
  line-height: 17px;
	font-style: italic;
  text-decoration: none;
	color: #171717;
}
